* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  max-width: 100%;
  box-sizing: border-box;
}

.specific-recipe-title {
  font-size: 42px;
}

.ingredients img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.ingredients button {
  width: 100px;
}

.specific-recipe-img {
  width: 450px;
  height: 460px;
  object-fit: cover;
}

hr {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 1px solid #f4a460;
}

.list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-inline > li {
  display: inline;
  padding: 7px;
  margin: 15px;
  margin-left: 0px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
}

.nutrition-info-title {
  margin-bottom: 15px;
}

.hr-fix {
  border: 0.7px solid #f4a460;
  margin-top: 50px;
}

.method-title {
  margin-top: -10px;
  margin-bottom: 25px;
}

footer {
  height: 100px;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #614234;
  text-decoration: underline;
}

.price-link {
  margin-top: 20px;
  font-size: 1.25rem;
}

.tesco-button {
  cursor:pointer;
  background-color: #00539F;
  color: whitesmoke;
  padding: 0.2rem;
}

.tesco-button:hover {
  background-color: #00ABF0;
}

.tesco-button:active {
  font-weight: bold;
}

/* Grids */

.four-column-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.three-column-grid-ingredients {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.four-column-grid-ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
  text-align: center;
}
